<%
   # default params
   @params["ad_title_text"] ||= 'Ottawa Senators Store'

   @params["ad_choice_text"] ||= "Ad Choices"

   @params["ad_primary_color"] ||= '#CD0074'
   @params["ad_secondary_color"] ||= '#9FEE00'

   @params["ad_text_text"] ||= 'Shop for Ottawa Senators Jerseys. $4.99 3-day Shipping on all Orders.'

   @params["click_button_text"] ||= 'VISIT SITE'

   @params["display_url_text"] ||= 'www.FaceoffFanatics.com'

   @params["layer_gradient_start_color"] ||= '#000000'
   @params["layer_gradient_end_color"] ||= '#45484d'

   @params["image_file"] ||= "/images/jersey2.jpg"

%>

<style type="text/css">
    .layer {
        width: 400px;
        height: 260px;

        background: <%= @params["layer_gradient_end_color"] %>; /* Old browsers */
        background: -moz-linear-gradient(top, <%= @params["layer_gradient_end_color"] %> 0%, <%= @params["layer_gradient_start_color"] %> 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, <%= @params["layer_gradient_end_color"] %>), color-stop(100%, <%= @params["layer_gradient_start_color"] %>)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, <%= @params["layer_gradient_end_color"] %> 0%, <%= @params["layer_gradient_start_color"] %> 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, <%= @params["layer_gradient_end_color"] %> 0%, <%= @params["layer_gradient_start_color"] %> 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, <%= @params["layer_gradient_end_color"] %> 0%, <%= @params["layer_gradient_start_color"] %> 100%); /* IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '<%= @params["layer_gradient_end_color"] %>', endColorstr = '<%= @params["layer_gradient_start_color"] %>', GradientType = 0); /* IE6-9 */
        background: linear-gradient(top, <%= @params["layer_gradient_end_color"] %> 0%, <%= @params["layer_gradient_start_color"] %> 100%); /* W3C */

        border: 1px solid #fff;

        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;

        -moz-box-shadow: 2px 1px 4px 4px rgba(10, 10, 10, .5);
        -webkit-box-shadow: 2px 1px 4px 4px rgba(10, 10, 10, .5);
        box-shadow: 2px 1px 6px 4px rgba(10, 10, 10, .5);

        color: #fff;

        text-align: center;
    }

    .ad_title {
        padding-top: 24px;
        font-size: 28px;
        text-transform: uppercase;
        color: white;
        text-shadow: 0 0 70px <%= @params["ad_primary_color"] %>, 0 0 80px <%= @params["ad_primary_color"] %>, 0 0 100px <%= @params["ad_primary_color"] %>, 0 0 150px <%= @params["ad_primary_color"] %>;
    }

    .ad_text {
        padding: 0px 20px 0px 20px;
        color: <%= @params["ad_secondary_color"] %>;
        font-size: 18px;
        text-align: center;
        width: 200px;
        height: 70px;
        overflow: hidden;
    }

    .click_button {
        margin-top: 20px;
    }

    .click_button a {
        padding: 10px 20px;

        /*background: -webkit-linear-gradient(top, #85004B 0%, #992667 100%); *//* Chrome10+,Safari5.1+ */
        /*background: linear-gradient(top, #85004B 0%, #992667 100%);*/

        color: #fff;
        font-size: 22px;
        text-decoration: none;

        text-shadow: 0 0 70px <%= @params["ad_primary_color"] %>, 0 0 80px <%= @params["ad_primary_color"] %>;

        border-radius: 3px;
    }

    .header {
        border-bottom: 1px solid #666;
        font-weight: 200;
        font-size: 12px;
        color: #888;
        padding: 4px 0px 4px 24px;
        text-align: left;
    }

    .header a {
        color: #666;
        float: right;
        padding-right: 8px;
    }

    .ad_logo {
        float: left;
        margin-top: 20px;
        margin-left: 20px;
    }

    .ad_logo img {
        width: 140px;
        height: 140px;
    }

    .display_url a {
        color: <%= @params["ad_primary_color"] %>;
        font-size: 12px;
    }
</style>


<div class="layer">
    <div class="header">
        Powered By Kontera
        <a href="#">Close</a>
        <a href="#"><%= @params["ad_choice_text"]%></a>
    </div>

    <div class="ad_title"><%= @params['ad_title_text'] %></div>

    <div class="ad_logo"><img src="<%= @params["image_file"] %>"></div>

    <div style="float:left; margin-top: 20px;">
        <div class="ad_text"><%= @params["ad_text_text"] %></div>
        <div class="click_button"><a href="#"><%= @params["click_button_text"] %></a></div>
        <div class="display_url"><a href="#"><%= @params["display_url_text"] %></a></div>
        <div style="clear:both;"></div>
    </div>


</div>