<script type="text/javascript" src="/farbtastic/farbtastic.js"></script>
<link rel="stylesheet" href="/farbtastic/farbtastic.css" type="text/css"/>

<h1>Layer Composer <span>Kontera Innovation Day 2011</span></h1>

<div class="top_buttons">
    <p class="sec live">
        <input type="submit" id='live_preview' value="Live Preview">
    </p>
    <p class="sec email">
        <input id='email' name='email' size='40'>
        <input type="submit" id='email_preview' value="Email Preview">
        <script type="text/javascript">
            $('#live_preview').click(function(e) {
                e.preventDefault();
                $('#layer_params_form').attr('action', '/design/live').attr('target', '_blank').submit();
            });
            $('#email_preview').click(function(e) {
                e.preventDefault();
                var email = $('#email')[0].value;
                $('#layer_params_form').attr('action', '/design/email?email='+email).attr('target', '').submit();
            });
        </script>
    </p>
</div>

<div id='layers_zone'>
    <div class='layer_sandbox'>
    </div>

    <div class='layer_menu'>
        <ul>
            <li><a href='/design?layer=text'>Classic Text & Logo</a></li>
            <li><a href='/design?layer=text5'>HTML5 Text & Logo</a></li>
            <li><a href='/design?layer=facebook_youtube'>Facebook + Youtube</a></li>
            <li><a href='/design?layer=balls'>HTML5 Freedom</a></li>
            <li><a href='/design?layer=mobile'>Mobile</a></li>
        </ul>
    </div>

    <script type="text/javascript">
        $('.layer_menu a').click(function(e) {
            e.preventDefault();
            var action = $(e.srcElement).attr('href');
            $('#layer_params_form').attr('action', action).attr('target', '').submit();
        });
    </script>

    <div class="colorpicker">
        <div></div>
    </div>


    <div style="clear: both;"></div>

    <div class="layer_view">
        <%= render :partial => ("layer_"+@layer_name) %>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.layer_view').draggable();
        });
    </script>

    <div id='form-holder'>
        <form id="layer_params_form" class='form' action="" method="post" enctype="multipart/form-data">

            <input type='hidden' value="<%= @layer_name %>" name="layer">

            <div style="clear: both;"></div>

            <% @params.keys.sort.each_with_index do |k, i| %>
                <p>
                    <label for='<%= k %>'><%= k.humanize %></label>
                    <% if k =~ /file$/i %>
                        <input name="<%= k %>" id="<%= k %>" type="file">
                        <input name="<%= k+'_uploaded' %>" value="<%= @params[k] %>" type="hidden">
                    <% else %>
                        <input name="<%= k %>" value="<%= @params[k] %>">
                    <% end %>
                </p>

                <% if i % 4 == 3 %>
                    <div style="clear:both;"></div>
                <% end %>
            <% end %>

            <div id='editor_area'>
            </div>

        </form>
    </div>


    <div style="clear:both;"></div>

    <!-- <img src="/images/layer_sample.png"/ -->

</div>

<div style="clear: both;"></div>


<!-- Color Picker -->
<script type="text/javascript">
    $(document).ready(function() {
        $('[name$=color]').focus(function(e) {
            $('.colorpicker div').farbtastic(e.srcElement);
        });
        $('#form-holder [name]').focusout(function(e) {
            $('#layer_params_form').attr('action', '/design').attr('target', '').submit();
        });

    });
</script>

<!--
<script type="text/javascript">
    $(document).ready(function() {
        $('[params],.layer').mouseover(function(e) {
            e.preventDefault();
            $('[for]').css('color', 'black');
            var editable_elements = $(e.srcElement).children().andSelf();
            editable_elements.each(function(idx, el) {
                var param_class = $(el).attr('class');
                $('[for^=' + param_class + ']').css('color', 'red')
            });
        });
    });
</script>
-->