<script type="text/javascript" src="/farbtastic/farbtastic.js"></script>
<link rel="stylesheet" href="/farbtastic/farbtastic.css" type="text/css"/>

<div class='top'><span>HTML5 Layer Builder</span></div>

<div id='layers_zone'>

    <div class='layer_menu'>
        <ul>
            <li><a href='/design?layer=text'>Classic Text & Logo</a></li>
            <li><a href='/design?layer=text5'>HTML5 Text & Logo</a></li>
            <li><a href='/design?layer=text5b'>HTML5 Text & Logo II</a></li>
            <li><a href='/design?layer=facebook_youtube'>Facebook + Youtube</a></li>
            <li><a href='/design?layer=freedom5'>HTML5 Freedom</a></li>
            <li><a href='/design?layer=mobile'>Mobile</a></li>
        </ul>
    </div>

    <div class="layer_view">
        <%= render :partial => ("layer_"+@layer_name) %>
    </div>

    <div id='form-holder'>
            <form id="layer_params_form" class='form' action="">
                <p class="submit">
                    <input type="submit" value="Re-draw">

                    <input type="submit" id='live_preview' value="Live Preview">
                    <script type="text/javascript">
                        $('#live_preview').click(function(e) {
                            e.preventDefault();
                            $('#layer_params_form').attr('action','/design/live').attr('target','_blank').submit();
                        });
                    </script>
                </p>

                <input type='hidden' value="<%= @layer_name %>" name="layer">

                <div style="clear: both;"></div>

                <% @params.keys.sort.each do |k| %>
                    <p>
                        <input name="<%= k %>" id="<%= k %>" value="<%= @params[k] %>">
                        <label for='<%= k %>'><%= k.humanize %></label>
                    </p>

                <% end %>

                <div id='editor_area'>
                </div>

            </form>
        </div>


    <div style="clear:both;"></div>

    <!-- <img src="/images/layer_sample.png"/ -->

</div>

<div style="clear: both;"></div>

<div id="colorpicker"></div>

<div style="clear:both;"></div>


<!-- Color Picker -->
<script type="text/javascript">
    $(document).ready(function() {
        $('[name$=color]').focus(function(e) {
            console.log(e.srcElement);
            $('#colorpicker').farbtastic(e.srcElement);
        });
    });
</script>


<!--
<script type="text/javascript">
    $(document).ready(function() {
        $('[params],.layer').mouseover(function(e) {
            e.preventDefault();
            $('[for]').css('color', 'black');
            var editable_elements = $(e.srcElement).children().andSelf();
            editable_elements.each(function(idx, el) {
                var param_class = $(el).attr('class');
                $('[for^=' + param_class + ']').css('color', 'red')
            });
        });
    });
</script>
-->
